html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    background-color: #121212;
    color: #f4f4f4;
    --main-color: #a5ffd9;    
}

h1, h2, h3, h4 {
    font-weight: 400;
}

.contact-wrapper {
    margin: 1rem 0;
}

a {
    cursor: pointer;
    color: #f4f4f4;
    text-decoration: none;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}

.navbar-wrapper a {
    margin: 0 0.4rem;
}

.portrait-mobile {
    width: 3rem;
    border-radius: 50%;   
}

.portrait-hero {
    display: none;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
    /* background: red; */
}

/* ----- HOME PAGE ----- */

h1 span {
    color: var(--main-color);
    text-decoration: underline;
    text-decoration-color: #722626;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-wrapper img {
    width: 1.1rem;
    margin-left: 0.2rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.email-link,
.resume-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7rem;
    padding: 0.6rem;
    border-radius: 15px;
    margin: 0 0.5rem;
    font-family: inherit;
    font-weight: bold;
    color: #f4f4f4;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 7px var(--main-color);
}

.email-link{
    background-color: #722626;
}

.resume-link{
    background-color: #121212;
}

.email-link img,
.resume-link img {
    margin-right: 0.2rem;
}

.email-link img {
    height: 1rem;
}

.resume-link img {
    height: 0.9rem;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.why-hire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality-pl {
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 1rem;
    min-width: 0;
}

.quality img {
    width: 10rem;
    border: 3px solid #722626;
    border-radius: 10px;
}

.quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11rem;

}

h3 {
    margin: 0.5rem 0;
    color: var(--main-color);
}

p {
    margin: 0 0 1rem;
    text-align: left;
}

h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
    grid-area: tech;
}

h4 img {
    height: 1rem;
    margin-right: 0.2rem;
}

.technologies-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.technologies-row {
    display: flex;
}

.white-image {
    filter: brightness(0) invert(1) grayscale(1); 
}

/* ----- OTHER PAGES ----- */

.back-button {
    display: flex;
    flex-direction: row;
    color:#f4f4f4;
    align-items: center;
    margin-right: auto;
}

.back-button img {
    border-radius: 50%;
    height: 2rem;
    margin-right: 0.5rem;
}

.back-button span:hover {
    text-decoration: underline;
}

/* ----- ABOUT PAGE ----- */

.about-text {
    text-align: left;
}

/* ----- PROJECT SHOWCASE PAGE ----- */

.about-page,
.project-showcase-page,
.project-page {
    /* background: yellow; */
    /* display: flex; */
    max-width: 40rem;
    padding: 1rem;
}

.project-showcase-wrapper {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    /* margin-right: auto;
    max-width: 23rem; */
    /* gap: 1rem; */
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}

.content-img {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 1rem;
}

.project-tech-wrapper img {
    width: 5rem;
    /* object-fit: cover; */
}

.project-tech-wrapper {
    display: flex;
    /* column-gap: 1rem; */
    margin-bottom: 1rem;
    align-items: center;
}

.project-tech-wrapper img {
    height: 2rem;
    /* border: 1px solid blue; */
}

.project-tech-wrapper img:last-of-type {
    /* width: 2.5rem; */
    height: 1.8rem;
}

.project {
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    /* border: 1px solid red; */
    padding: 0 1rem 1rem;
}

/* ----- PROJECT PAGES ----- */

.project-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-page p {
    margin: 0 0 0.5rem 3rem;
}

.project-img-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.project-img-wrapper img{
    width: 10rem;
    margin: 0.5rem;
}

.project-page-tech-wrapper {
    display: flex;
    gap: 1rem;
    margin-left: 3rem;
}

.project-page-tech-wrapper img {
    height: 2rem;
}

.project-page-tech-wrapper img:last-of-type {
    height: 1.8rem;
}

.project-link img {
    width: 2rem;
    margin-left: 3rem;
}


/* ----- NOT FOUND PAGE ----- */

.link-button {
    background-color: #f4f4f4;
    color: #121212;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 15px;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
    .navbar-wrapper nav {
        margin-left: auto;
        font-size: 1.2rem;
    }
    .portrait-mobile {
        display: none;
    }
    
    .portrait-hero {
        display: unset;
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 0 1rem;
    }
    
    .hero-wrapper {
        display: flex;
        text-align: left;
    }
    
    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .quality-pl {
        display: flex;
    }
    
    h4 {
        flex-direction: row;
    }
    
    .project-img-wrapper {
        flex-direction: row;
    }

    .technologies-wrapper {
        flex-direction: row;
    }

    .project-showcase-wrapper {
        flex-direction: row;
    }
    
    @media (max-width: 550px) {
        .project-showcase-wrapper {
            flex-direction: column;
        }
    }
}
